#colmain{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col {
    position: relative;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 46, 46) !important;
    color: white !important;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
}

.image {
    width: 250px;
    height: 150px;
}

.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.row {
    margin: 0 !important;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.5s;
}

.nav-link {
    color: #fff !important;
}
.navbar.scrolled {
    background-color: rgb(0, 0, 0); /* Cambia este color según tus necesidades */
}



.video {
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
}

.video-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cambia el color según tus necesidades */
    font-size: 3rem; /* Ajusta el tamaño según tus necesidades */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra para mejor legibilidad */
    text-align: center;
}

.jswtimage {
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
}



.column {
    flex: 1;
    padding: 40px;
    /* Ajusta el padding de las columnas */
    margin: 40px;
    /* Aumenta el margen para mayor separación */
}

/* Estilos para las imágenes */
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}

.image {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

/* Efecto sombreado en los bordes, no en el centro */
.overlay-border {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 15px rgba(0, 0, 0, 0);
    /* Sombra en el borde */
    pointer-events: none;
    /* Evita que el mouse afecte el borde */
    opacity: 0;
    transition: opacity 0.2s;
}

.image-container:hover .overlay-border {
    opacity: 1;
    /* Muestra el borde sombreado al pasar el ratón */
}

/* Título en la parte superior */
.overlay-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo del título */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-title {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.image-container:hover .overlay-title {
    opacity: 1;
    /* Muestra el título al pasar el ratón */
}


@media (max-width: 992px) {
    .navbar {
        background-color: rgba(46, 46, 46, 1); /* Color para dispositivos pequeños */
    }
    .title {
        font-size: 2rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    }
}


